@import "theme.less";

.btn-behavior(@base-color) {
    @hover-adjustment: 5%;
    @active-adjustment: 15%;
    @border-adjustment: 20%;

    background-color: @base-color;
    border-color: darken(@base-color, @border-adjustment);
    border-width: 2px;

    &:hover {
        background-color: lighten(@base-color, @hover-adjustment)
    }

    &:active, &.btn-active {
        background-color: lighten(@base-color, @active-adjustment)
    }

    &.btn-not-programmed {
        color: @base-color;
        border-color: @base-color;
        background-color: @background-color;
        border-width: 5px;

        &:hover {
            background-color: lighten(@background-color, @hover-adjustment)
        }

        &:active, &.btn-active {
            background-color: lighten(@background-color, @active-adjustment)
        }
    }

    &.btn-disabled {
        background-color: @disabled-color;
        color: darken(@disabled-color, 30%);
        border-color: darken(@disabled-color, 20%);
    }
}

.btn-primary {
    color: @btn-text-color;
    border-radius: @button-radius;
    font-size: 36pt;
    font-weight: bold;
    cursor: pointer;
    .btn-behavior(@btn-color);
}
