@btn-color: #62b0ff;
@background-color: #222;
@btn-text-color: #222;
@power-btn-color: darkred;
@power-btn-text-color: @btn-text-color;
@disabled-color: #888888;
@listening-color: #ffea00;
@listening-text-color: white;
@loading-text-color: white;

@button-radius: 15px;
@conversation-border-thickness: 10px;

@app-font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
@app-font-size: 48px;
@app-font-weight: bold;

html, body {
    font-family: @app-font-family;
    font-size: @app-font-size;
    font-weight: @app-font-weight;
    background-color: @background-color;
}