@btn-color: #62b0ff;
@background-color: #222;
@btn-text-color: #222;
@power-btn-color: darkred;
@disabled-color: #888888;
@listening-color: #ffea00;
@listening-text-color: white;
@loading-text-color: white;
@button-radius: 15px;

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 36pt;
    font-weight: bold;
    margin: 0;
    background-color: @background-color;
}

div.conversation-border {
    @thickness: 10px;

    pointer-events: none;

    position: fixed;
    top: -2*@thickness;
    left: -2*@thickness;

    border-color: @listening-color;
    border-style: solid;
    border-width: 3*@thickness;
    border-radius: @button-radius+3*@thickness;

    div {
        width: 100vw;
        height: 100vh;
        margin: -@thickness
    }
}

div.conversation-status-message {
    color: @listening-color;
    text-align: center;
    padding: 20px;
    border-radius: @button-radius;

    &.clickable {
        cursor: pointer;

        &:hover {
            background-color: lighten(@background-color, 15%);
        }
    }
}

div.conversation-speaking-message {
    background-color: @background-color;
    border-radius: @button-radius;
    border: 5px solid @listening-color;
    margin: -5px;
    color: @listening-text-color;
    padding: 40px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-behavior(@base-color) {
    background-color: @base-color;
    border-color: darken(@base-color, 20%);

    &:hover {
        background-color: lighten(@base-color, 5%)
    }

    &:active {
        background-color: lighten(@base-color, 15%)
    }

    &.btn-active {
        background-color: lighten(@base-color, 15%)
    }

    &.btn-disabled {
        background-color: @disabled-color;
        color: darken(@disabled-color, 30%);
        border-color: darken(@disabled-color, 20%);
    }
}

.btn-primary {
    color: @btn-text-color;
    border-radius: @button-radius;
    font-size: 36pt;
    font-weight: bold;
    cursor: pointer;

    .btn-behavior(@btn-color);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.position(@row, @column) {
    grid-row: @row;
    grid-column: @column;
}

.define-grid(@rows, @columns) {
    display: grid;
    grid-template-rows: @rows;
    grid-template-columns: @columns;
    grid-gap: 10px;
}

@wpadding: 1vw;
@hpadding: 2vh;

#ROOT {
    .define-grid(6fr 3fr 1fr, 3fr 2fr);
    grid-gap: 20px;
    width: (100vw-@wpadding*2);
    height: (100vh-@hpadding*2);
    padding: @hpadding @wpadding;

    #DPAD {
        .position(1, 1);
        .define-grid(repeat(3, 1fr), repeat(3, 1fr));

        #UP {
            .position(1, 2)
        }

        #DOWN {
            .position(3, 2)
        }

        #LEFT {
            .position(2, 1)
        }

        #RIGHT {
            .position(2, 3)
        }

        #SELECT {
            .position(2, 2)
        }

        #POWER {
            .position(1, 1);
            margin: 20px;

            .btn-behavior(@power-btn-color);
        }

        #POWERON {
            display: none;
        }

        #POWEROFF {
            display: none;
        }

        #BACK {
            .position(3, 1);
            margin: 20px;
        }
    }

    #WELL {
        .position(1, 2);
        .define-grid(repeat(5, 1fr), repeat(2, 1fr));

        #TIVO {
            .position(1, 1)
        }

        #NETFLIX {
            .position(1, 2)
        }

        #GUIDE {
            .position(2, 1)
        }
    }

    #PLAYBACK {
        .position(2, 1);
        .define-grid(repeat(3, 1fr), repeat(5, 1fr));

        #REPLAY {
            .position(1, 1)
        }

        #PLAY {
            .position(1, 2)
        }

        #PAUSE {
            .position(1, 3)
        }

        #RECORD {
            .position(1, 4)
        }

        #SKIP {
            .position(1, 5)
        }
    }

    #CHANNELANDVOLUME {
        .position(2, 2);
        .define-grid(36pt 1fr 1fr, 2fr 1fr 2fr);

        &:before {
            .position(1, 1);
            font-size: 36pt;
            font-weight: bold;
            color: @btn-color;
            content: "Channel";
            text-align: center;
        }

        &:after {
            .position(1, 3);
            font-size: 36pt;
            font-weight: bold;
            color: @btn-color;
            content: "Volume";
            text-align: center;
        }

        #CHANNELUP {
            .position(2, 1);
        }

        #CHANNELDOWN {
            .position(3, 1);
        }

        #VOLUMEUP {
            .position(2, 3);
        }

        #VOLUMEDOWN {
            .position(3, 3);
        }

        #MUTE {
            .position (2, 2);
            grid-row-end: span 2;
        }
    }

    #GUTTER {
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-gap: 20px;
        .define-grid(1fr, 6fr 1fr 1fr);

        #EXIT {
            .position(1, 3);
        }

        #LISTENING {
            .position(1, 1);
        }
    }
}
